p {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(19, 83, 17);
    border-style:dashed ;
    padding: 20px;
    margin: 30px 60px 90px 120px;
}

a {
    display: block;
}

html {
    background-color: rgb(94, 106, 211);
    color: rgb(20,20,20);
}